.services {
    padding: 50px 0;
    overflow: hidden;
    background-color: #F5F5F5;
}

.service-content h3 {
    font-weight: 600;
}

.service-content {
    padding-left: 40px;
}

.service-image {
    border-radius: 20px;
    overflow: hidden;
    padding: 0;
    max-height: 500px !important;
}

.service-image img {
    display: inline-block;
}