* {
  margin: 0;
  padding: 0;
  font-family: 'Sora', sans-serif;
}

.container-brand {
  width: 90%;
  margin: 0 auto;
}

.button-brand {
  background-color: #e74c3c;
  color: white;
  padding: 10px 25px;
  border: none;
  border-radius: 20px;
  transition: all 0.3s;
}

.button-brand:hover {
  background-color: #223A66;
  color: white;
  padding: 10px 25px;
}

.color-brand {
  color: #e74c3c;
}

a {
  text-decoration: none;
}