* {
  margin: 0;
  padding: 0;
  font-family: 'Sora', sans-serif;
}

/*--------------------------------------------------------------
# Sections General
--------------------------------------------------------------*/

.section-title {
  text-align: center;
  padding-bottom: 30px;
}
.section-title h2 {
  font-size: 28px;
  font-weight: 600;
  /* text-transform: uppercase; */
  margin-bottom: 20px;
  padding-bottom: 20px;
  position: relative;
}
.section-title h2::after {
  content: "";
  position: absolute;
  display: block;
  width: 60px;
  height: 3px;
  background: #e74c3c;
  bottom: 0;
  left: calc(50% - 25px);
}
.section-title p {
  margin-bottom: 0;
}

/* Section end */



.container-brand {
  width: 90%;
  margin: 0 auto;
}

.button-brand {
  background-color: #e74c3c;
  color: white;
  padding: 10px 25px;
  border: none;
  border-radius: 20px;
  transition: all 0.3s;
}

.button-brand:hover {
  background-color: #223A66;
  color: white !important;
  padding: 10px 25px;
}

.color-brand {
  color: #e74c3c;
}

a {
  text-decoration: none;
}